<div class="chatBox">
  <div class="allGroups">
    <div class ="UserName">
      現ユーザー
      <%= current_user.nickname %>
    </div>

    <% @group.each do |group| %>
    <div class="groups__name">
      <%= link_to group.name, class: "group__path"%>
    </div>
    <% end %>

  </div>



  <div class="groupBox">
    <div class="groupBox__name">
      groupBox__name
    </div>
    groupBox
    <div class="form">
      <div class="form__message">
        <%= text_field :content, placeholder: 'type a message' %>
            <div class="form___mask">
              <%= file_field :image, class: 'hidden' %>
              <%= submit_tag 'Send', class: 'form__submit' %>
            </div>
      </div>
    </div>

  </div>


</div>