<!DOCTYPE html>
<html>
  <head>
    <title>Blog-Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>

  <body>
  <%# <div id="gradient" /> %>
  <header class="header">
  <div class='wave -one'></div>
  <div class='wave -two'></div>
  <div class='wave -three'></div>

      <div class="header__title">
        <%= link_to "Blog-Chat", root_path, class: "header__title--text" %>
      </div>






 <nav class="globalMenuSp">
      
      <% if user_signed_in? %>
      <ul>
        <li><%= link_to current_user.nickname, user_path(current_user) %></li>
        <li><%= link_to "new blog", new_post_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "user", users_path %></li>
       </ul>
      <% else %>
    <ul>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      </ul>
      <% end %>
      
      </nav>






      <div class="navToggle">
         <span></span><span></span><span></span><span>menu</span>
       </div>


     




     



    </header>
    <div class="contents">
    <%= yield %>
    </div>
  </body>
</html>
